/3rdp
/build
/samples/soc/build
/samples/soc/firmware*
/samples/verify/build
/samples/verify/code/verilator
/samples/verify/verify
/samples/verify/*.fst*
/code/Emulator2/CPU/GL/verilator
/a.out
/*.vcd
