LOCATE COMP "CLOCK" SITE "P6";
IOBUF PORT "CLOCK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLOCK" 25 MHZ;

LOCATE COMP "LED_p" SITE "A12";
IOBUF PORT "LED_p" IO_TYPE=LVCMOS25;

// Designator PT38A
LOCATE COMP "UART_TX" SITE "B9";
IOBUF PORT "UART_TX" IO_TYPE=LVCMOS25;

// Designator PT42A
LOCATE COMP "UART_RX" SITE "A9";
IOBUF PORT "UART_RX" IO_TYPE=LVCMOS25;

// Designator PR20B
LOCATE COMP "SDRAM_A[0]" SITE "H15";
IOBUF PORT "SDRAM_A[0]" IO_TYPE=LVCMOS25;

// Designator PT60A
LOCATE COMP "SDRAM_A[1]" SITE "B13";
IOBUF PORT "SDRAM_A[1]" IO_TYPE=LVCMOS25;

// Designator PT56A
LOCATE COMP "SDRAM_A[2]" SITE "B12";
IOBUF PORT "SDRAM_A[2]" IO_TYPE=LVCMOS25;

// Designator PR23A
LOCATE COMP "SDRAM_A[3]" SITE "J16";
IOBUF PORT "SDRAM_A[3]" IO_TYPE=LVCMOS25;

// Designator PR23B
LOCATE COMP "SDRAM_A[4]" SITE "J15";
IOBUF PORT "SDRAM_A[4]" IO_TYPE=LVCMOS25;

// Designator PR44A
LOCATE COMP "SDRAM_A[5]" SITE "R12";
IOBUF PORT "SDRAM_A[5]" IO_TYPE=LVCMOS25;

// Designator PR23C
LOCATE COMP "SDRAM_A[6]" SITE "K16";
IOBUF PORT "SDRAM_A[6]" IO_TYPE=LVCMOS25;

// Designator PR41C
LOCATE COMP "SDRAM_A[7]" SITE "R13";
IOBUF PORT "SDRAM_A[7]" IO_TYPE=LVCMOS25;

// Designator PR44B
LOCATE COMP "SDRAM_A[8]" SITE "T13";
IOBUF PORT "SDRAM_A[8]" IO_TYPE=LVCMOS25;

// Designator PR23D
LOCATE COMP "SDRAM_A[9]" SITE "K15";
IOBUF PORT "SDRAM_A[9]" IO_TYPE=LVCMOS25;

// Designator PT65A
LOCATE COMP "SDRAM_A[10]" SITE "A13";
IOBUF PORT "SDRAM_A[10]" IO_TYPE=LVCMOS25;

// Designator PR41B
LOCATE COMP "SDRAM_A[11]" SITE "R14";
IOBUF PORT "SDRAM_A[11]" IO_TYPE=LVCMOS25;

// Designator PR41D
LOCATE COMP "SDRAM_A[12]" SITE "T14";
IOBUF PORT "SDRAM_A[12]" IO_TYPE=LVCMOS25;

// Designator PR14B
LOCATE COMP "SDRAM_BA[1]" SITE "G15";
IOBUF PORT "SDRAM_BA[1]" IO_TYPE=LVCMOS25;

// Designator PT67A
LOCATE COMP "SDRAM_BA[0]" SITE "B14";
IOBUF PORT "SDRAM_BA[0]" IO_TYPE=LVCMOS25;

// Designator PR38C
LOCATE COMP "SDRAM_CLK" SITE "R15";
IOBUF PORT "SDRAM_CLK" IO_TYPE=LVCMOS25;

// Designator PR26A
LOCATE COMP "SDRAM_CKE" SITE "L16";
IOBUF PORT "SDRAM_CKE" IO_TYPE=LVCMOS25;

// Designator PR2A
LOCATE COMP "SDRAM_RAS_n" SITE "B16";
IOBUF PORT "SDRAM_RAS_n" IO_TYPE=LVCMOS25;

// Designator PR20A
LOCATE COMP "SDRAM_CAS_n" SITE "G16";
IOBUF PORT "SDRAM_CAS_n" IO_TYPE=LVCMOS25;

// Designator PT67B
LOCATE COMP "SDRAM_WE_n" SITE "A15";
IOBUF PORT "SDRAM_WE_n" IO_TYPE=LVCMOS25;

// Designator PT65B
LOCATE COMP "SDRAM_CE_n" SITE "A14";
IOBUF PORT "SDRAM_CE_n" IO_TYPE=LVCMOS25;

// Designator PR14A
LOCATE COMP "SDRAM_DQ[0]" SITE "F16";
IOBUF PORT "SDRAM_DQ[0]" IO_TYPE=LVCMOS25;

// Designator PR8B
LOCATE COMP "SDRAM_DQ[1]" SITE "E15";
IOBUF PORT "SDRAM_DQ[1]" IO_TYPE=LVCMOS25;

// Designator PR11C
LOCATE COMP "SDRAM_DQ[2]" SITE "F15";
IOBUF PORT "SDRAM_DQ[2]" IO_TYPE=LVCMOS25;

// Designator PR2D
LOCATE COMP "SDRAM_DQ[3]" SITE "D14";
IOBUF PORT "SDRAM_DQ[3]" IO_TYPE=LVCMOS25;

// Designator PR11D
LOCATE COMP "SDRAM_DQ[4]" SITE "E16";
IOBUF PORT "SDRAM_DQ[4]" IO_TYPE=LVCMOS25;

// Designator PR5B
LOCATE COMP "SDRAM_DQ[5]" SITE "C15";
IOBUF PORT "SDRAM_DQ[5]" IO_TYPE=LVCMOS25;

// Designator PR8A
LOCATE COMP "SDRAM_DQ[6]" SITE "D16";
IOBUF PORT "SDRAM_DQ[6]" IO_TYPE=LVCMOS25;

// Designator PR2B
LOCATE COMP "SDRAM_DQ[7]" SITE "B15";
IOBUF PORT "SDRAM_DQ[7]" IO_TYPE=LVCMOS25;

// Designator PR35B
LOCATE COMP "SDRAM_DQ[8]" SITE "R16";
IOBUF PORT "SDRAM_DQ[8]" IO_TYPE=LVCMOS25;

// Designator PR35A
LOCATE COMP "SDRAM_DQ[9]" SITE "P16";
IOBUF PORT "SDRAM_DQ[9]" IO_TYPE=LVCMOS25;

// Designator PR32B
LOCATE COMP "SDRAM_DQ[10]" SITE "P15";
IOBUF PORT "SDRAM_DQ[10]" IO_TYPE=LVCMOS25;

// Designator PR32A
LOCATE COMP "SDRAM_DQ[11]" SITE "N16";
IOBUF PORT "SDRAM_DQ[11]" IO_TYPE=LVCMOS25;

// Designator PR35D
LOCATE COMP "SDRAM_DQ[12]" SITE "N14";
IOBUF PORT "SDRAM_DQ[12]" IO_TYPE=LVCMOS25;

// Designator PR26C
LOCATE COMP "SDRAM_DQ[13]" SITE "M16";
IOBUF PORT "SDRAM_DQ[13]" IO_TYPE=LVCMOS25;

// Designator PR26D
LOCATE COMP "SDRAM_DQ[14]" SITE "M15";
IOBUF PORT "SDRAM_DQ[14]" IO_TYPE=LVCMOS25;

// Designator PR26B
LOCATE COMP "SDRAM_DQ[15]" SITE "L15";
IOBUF PORT "SDRAM_DQ[15]" IO_TYPE=LVCMOS25;

// Designator PR5A
LOCATE COMP "SDRAM_DQM[1]" SITE "C16";
IOBUF PORT "SDRAM_DQM[1]" IO_TYPE=LVCMOS25;

// Designator PR38D
LOCATE COMP "SDRAM_DQM[0]" SITE "T15";
IOBUF PORT "SDRAM_DQM[0]" IO_TYPE=LVCMOS25;
