LOCATE COMP "CLOCK_p" SITE "P6";
IOBUF PORT "CLOCK_p" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLOCK_p" 25 MHZ;

LOCATE COMP "LED_p" SITE "A12";
IOBUF PORT "LED_p" IO_TYPE=LVCMOS25;

LOCATE COMP "UART_RX" SITE "A9";
IOBUF PORT "UART_RX" IO_TYPE=LVCMOS25;

LOCATE COMP "UART_TX" SITE "B9";
IOBUF PORT "UART_TX" IO_TYPE=LVCMOS25;
